 h2 {
    color: #000;
    font-size: 60px;
    font-weight: 200;
    line-height: 60px;
    letter-spacing: -2px; 
 }
 .w200 {
    padding: 100px 60px;
 }
 .w200-01 {
    padding-top: 100px;
    padding-bottom: 100px;
 }
 section.main-sl-title {
    display: flex;
    width: 1920px; height: 700px;
 }
 .left-box {
    width: 960px; height: 700px;
    background: #D9D9D9;
 }
 .right-box {
    width: 960px; height: 700px;
    background: #BFBFBF;
 }
.xans-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px; height: 570.13px;
    background-color: #FFF; 
}
div.main-sl-title {
    display: flex;
    justify-content: space-between;  
    align-items: center;            
    width: 1920px; height: 83px;
    padding: 50px 60px 10px 60px;
    box-sizing: border-box;
}
.title-text {
    color: #000;
    font-family: "DM Sans";
    font-size: 15px;
    line-height: 22.5px;
}
.more-btn {
    color: #000;
    font-family: "DM Sans";
    font-size: 12px;
    line-height: 18px; 
}
.swiper-container-main02 {
    display: flex;
    gap: 5px; 
}
.box1 {
    width: 295.83px; height: 454.22px;
    background: #E6E6E6;
}
.img1 {
    width: 295.83px; height: 402.31px;
    background: #8f3636;
}
.text-box {
    background: #000;
    padding-top: 10px;
    padding-bottom: 7px;
}
.title-text1 {}
.price-text1 {}
.box2 {
    width: 295.83px; height: 471.22px;
    background: #E6E6E6;
}
.box3 {
    width: 295.83px; height: 471.22px;
    background: #E6E6E6;
}
.box4 {
    width: 295.83px; height: 454.22px;
    background: #E6E6E6;
}
.box5 {
    width: 295.83px; height: 454.22px;
    background: #E6E6E6;
}
.box6 {
    width: 295.83px; height: 454.22px;
    background: #E6E6E6;
}